In [ ]:
#from transformers import pipeline
import torch
import os
import random
from huggingface_hub import InferenceClient
model_id = "meta-llama/Llama-3.2-3B-Instruct"
#os.environ["HF_TOKEN"]=
HF_TOKEN="something"
client = InferenceClient(api_key=HF_TOKEN)#
#srun -N1 --gpus-per-node=1 -t 500 --pty bash
# jupyter notebook
#example 
output = client.text_generation(
    "The capital of France is",
    max_new_tokens=100,
    do_sample=True,
    temperature=0.6,
    top_p=0.9,)

print(output)

In [ ]:
def get_table_info(database_name:str='database.sqlite')-> str:
        """
        return description of dataset
        """
        conn = sqlite3.connect(database_name)
        cursor = conn.cursor()
        table_name=cursor.execute("SELECT name FROM sqlite_master").fetchall()[0][0]
        columns_info = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
        table_description=f"Table name :[table]\n(column_index, column_name, data_type, not_null, default_value, primary_key)\n{columns_info}"
        return table_description

"Table name :Iris\n(column_index, column_name, data_type, not_null, default_value, primary_key)\n[(0, 'Id', 'INTEGER', 0, None, 1), (1, 'SepalLengthCm', 'NUMERIC', 0, None, 0), (2, 'SepalWidthCm', 'NUMERIC', 0, None, 0), (3, 'PetalLengthCm', 'NUMERIC', 0, None, 0), (4, 'PetalWidthCm', 'NUMERIC', 0, None, 0), (5, 'Species', 'TEXT', 0, None, 0)]"

In [83]:
conn = sqlite3.connect('database.sqlite')
cursor = conn.cursor()
table_name=cursor.execute("SELECT name FROM sqlite_master").fetchall()[0][0]

columns_info = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
table_description=f"Table name: [table]\nColumn:\n"

for n,columns_info in enumerate(columns_info):
    col_type=columns_info[2].upper()
    col_name=columns_info[1]
    if columns_info[-1]:
        col=f"column name: [col{n}] - data type: primary key\n"
        
    else : 
        col=f"column name :[col{n}] - data type: {col_type}"
        if col_type in ("NUMERIC","INTEGER", "REAL"):
            cursor.execute(f"SELECT MIN({col_name}), MAX({col_name}), AVG({col_name}) FROM {table_name}")
            min_val, max_val, avg_val = cursor.fetchone()
            col += f"  → Min: {min_val}, Max: {max_val}, Mean: {avg_val}"
        
        col+="\n"

    table_description+=col
    
print(table_description)

Table name: [table]
Column:
column name: [col0] - data type: primary key
column name :[col1] - data type: NUMERIC  → Min: 4.3, Max: 7.9, Mean: 5.843333333333334
column name :[col2] - data type: NUMERIC  → Min: 2, Max: 4.4, Mean: 3.0540000000000003
column name :[col3] - data type: NUMERIC  → Min: 1, Max: 6.9, Mean: 3.758666666666666
column name :[col4] - data type: NUMERIC  → Min: 0.1, Max: 2.5, Mean: 1.1986666666666668
column name :[col5] - data type: TEXT

In [78]:
columns_info = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
columns_info

[(0, 'Id', 'INTEGER', 0, None, 1),
 (1, 'SepalLengthCm', 'NUMERIC', 0, None, 0),
 (2, 'SepalWidthCm', 'NUMERIC', 0, None, 0),
 (3, 'PetalLengthCm', 'NUMERIC', 0, None, 0),
 (4, 'PetalWidthCm', 'NUMERIC', 0, None, 0),
 (5, 'Species', 'TEXT', 0, None, 0)]

In [ ]:
  For Column Data Types uses:
    - `[int]` for  integer Numeric Data Types
    - `[float]` for  floating point number Numeric Data Types
    - `[date]` for Date Data Types
    - `[str]` for String Data Types

In [38]:
import sqlite3
SYSTEM_PROMPT = f""" 
You are a helpful assistant that generates a only SQL placeholders. My ultimate goal is to discover as many diverse SQL as possible
The user will provide: **Existing Queries**:  SELECT... Table(s) **Table Description**:

Your Task
- Generate "one" SQL query that is distinct from the user's queries and make it very diffrent than user's queries.
- Ensure the query is meaningful and practical for real-world use cases.
- Output only the SQL code**—no explanations, comments, or additional text or "```sql".
- Maintain general placeholders:
  - `[table]` for table names
  - `[col_data_type]` for column names
- Attention when using `[col0]` primary key, only use it if dose make sense 

Output Query:


"""
def get_table_info(database_name:str='database.sqlite')-> str:
  """
  return description of dataset
  """
  conn = sqlite3.connect('database.sqlite')
  cursor = conn.cursor()
  table_name=cursor.execute("SELECT name FROM sqlite_master").fetchall()[0][0]

  columns_info = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
  table_description=f"Table name: [table]\nColumn:\n"

  for n,columns_info in enumerate(columns_info):
      col_type=columns_info[2].upper()
      col_name=columns_info[1]
      if columns_info[-1]:
          col=f"column name: [col{n}_{col_type}] - data type: primary key(attention this primary key)\n"
          
      else : 
          col=f"column name: [col{n}_{col_type}] - data type: {col_type}"
          if col_type in ("NUMERIC","INTEGER", "REAL"):
              cursor.execute(f"SELECT MIN({col_name}), MAX({col_name}), AVG({col_name}) FROM {table_name}")
              min_val, max_val, avg_val = cursor.fetchone()
              col += f"  → Min: {min_val}, Max: {max_val}, Mean: {avg_val}"
        
          col+="\n"
      table_description+=col   
  return table_description
table_description=get_table_info()
sqls=["SELECT [col] * \nFROM [table];" ]
from ollama import Client
client = Client(
  host='http://localhost:11434',
  headers={'x-some-header': 'some-value'}
)
model_name='llama3.1:8b-instruct-fp16'#'deepseek-r1:14b'
response = client.chat(model=model_name, messages=[
   {"role": "system", "content": SYSTEM_PROMPT},
   {"role": "user", "content": f"**Existing Queries**: {sqls } \n**Table Description**: {table_description}"},
],)
print(response.message["content"].split("</think>")[-1])

SELECT SUM([col1_NUMERIC]) / COUNT(DISTINCT [col0_INTEGER]) FROM [table]

In [37]:
print(table_description)

Table name: [table]
Column:
column name: [col0_INTEGER] - data type: primary key(attention this primary key)
column name :[col1_NUMERIC] - data type: NUMERIC  → Min: 4.3, Max: 7.9, Mean: 5.843333333333334
column name :[col2_NUMERIC] - data type: NUMERIC  → Min: 2, Max: 4.4, Mean: 3.0540000000000003
column name :[col3_NUMERIC] - data type: NUMERIC  → Min: 1, Max: 6.9, Mean: 3.758666666666666
column name :[col4_NUMERIC] - data type: NUMERIC  → Min: 0.1, Max: 2.5, Mean: 1.1986666666666668
column name :[col5_TEXT] - data type: TEXT

"SELECT COUNT(*) FROM [table]\nWHERE [col1] BETWEEN ( SELECT AVG([col1]) FROM [table] ) AND \n       ( SELECT MAX([col1]) + MIN([col1]) / 2.0 * (MAX([col1]) - MIN([col1])) / 2.0 FROM [table] )\nGROUP BY STRFTIME('%J', [col5])"

In [2]:

from ollama import Client
client = Client(
  host='http://localhost:11434',
  headers={'x-some-header': 'some-value'}
)

NameError: name 'client' is not defined

In [ ]:
from ollama import chat

stream = chat(
    model='llama3.2',
    messages=[{'role': 'user', 'content': 'Why is the sky blue?'}],
    stream=True,
)

for chunk in stream:
  print(chunk['message']['content'], end='', flush=True)

In [3]:
from sentence_transformers import SentenceTransformer
import torch
import os
import random


def model_transformer(name: str,device="mps"):
    # Check if model is already saved on disk
    device=torch.device("cuda" if torch.cuda.is_available(
                                ) else "cpu") if device is None else device
    model_name="models/"+name
    if os.path.exists(model_name):
        print('yep')
        model = SentenceTransformer(model_name, device=device,#token=HF_TOKEN,
                                       trust_remote_code=True)
    else:
        model_name=name
        # Save the model to disk
        model = SentenceTransformer(model_name, device=device,#token=HF_TOKEN,
                                       trust_remote_code=True)
        model.save("models/"+name)
    return model
transModel = model_transformer("Alibaba-NLP/gte-large-en-v1.5")

yep

In [5]:
model_name= "meta-llama/Llama-3.2-3B-Instruct"
#from requests.exceptions import HTTPError
#client = InferenceClient(api_key=HF_TOKEN)
def call_llm(messages: str=None, model_name='llama3.1:8b-instruct-fp16'
             ) -> str:
    if False:
        output = client.chat.completions.create(
        messages=messages,
        max_tokens=265, 
        temperature=0.5,
        top_p=0.9,
        stream=False,
        seed=random.randint(0, 10000000)
        ).choices[0].message.content
    
    output = client.chat(model=model_name, messages=messages).message["content"].split("</think>")[-1]

#call_ret
    return str(output)

In [ ]:

SYSTEM_PROMPT = f"""
You are a helpful assistant that generates a only SQL code. My ultimate goal is to discover as many diverse SQL as possible
The user will provide: Provided Queries:  SELECT... Table(s) Description:

Your Task
- Generate "one" SQL query that is distinct from the user's queries and make it very diffrent than user's queries.
- Ensure the query is meaningful and practical for real-world use cases.
- Output only the SQL code**—no explanations, comments, or additional text or "```sql".

never ever start with "```sql"

Output Query:


"""


SYSTEM_PROMPT = f"""
You are an AI SQL query generator placeholders. Your goal is to generate **one diverse and meaningful SQL query**.


### Input:
- **Existing Queries**: SELECT...
- **Table Structure**: General description.

### Your Task:
- Generate **one distinct SQL query** that is **structurally different** from the provided queries but still practical.
- Use **varied SQL techniques** (e.g., JOINs, aggregation, subqueries, window functions).
- Ensure the query is **syntactically correct** and **real-world applicable**.


### Output:
- **Return only the SQL query** (no explanations, comments, or extra text).
- **Example Output:**  
  ```sql
  SELECT [col], COUNT(DISTINCT [value]) FROM [table] GROUP BY [col];
- Maintain **general placeholders**:
  - `[table]` for table names
  - `[col]` for column names
  - `[value]` for values
"""

In [ ]:
import os
import json
import sqlite3
import random
import numpy as np
import pandas as pd
from typing import List, Dict, Any, Optional
import time
import faiss


class SkillLibrary:
    def __init__(self, library_path="skills.json"):
        self.library_path = library_path
        # Load from disk or init empty
        if os.path.exists(library_path):
            with open(library_path, "rb", encoding="utf-8") as f:
                self.skills = json.load(f)
        else:
            self.skills = {}

        dim = 1024  #  the vector dimension 
        if len(self.skills)==0:
            self.vect_index = faiss.IndexFlatIP(dim)# ini

        else :self.vect_index = faiss.IndexFlatIP(dim)# to be done 

        self.selected_index=[] # list of random selected index of sql skills 
        self.selected_ret_index = [] # list of retrieved selected index of sql skills ]
    def __repr__(self):
        return self.skills

    def __len__(self):
        return len(self.skills)


    def save(self):
        with open(self.library_path, "wb", encoding="utf-8") as f:
            json.dump(self.skills, f, indent=2)
    
    def get_sql(self,random_=True,num_q=5):
        n_skill=len(self.skills)
        if n_skill==0:
            return ["SELECT * \nFROM [table];" ]
        if random_: 
            self.selected_index = random.sample(list(self.skills.keys()),k=min(num_q,n_skill
                                                                )
                                                ) 
            selected_sql = [self.skills[i]["sql"] for  i in  self.selected_index]
        else:
            n_skill-=1
            selected_sql = [ self.skills[i] for i in range(n_skill,n_skill-num_q,-1) ]
            self.selected_index = list(range(n_skill,n_skill-num_q,-1) )
        
        return selected_sql

    def add_skill(self, sql: str, embedding_vec: List[float],python_func:str=None,save:bool=False)-> None:
        """
        Add a new skill to the library with minimal info (only SQL).
        """
        self.skills[len(self.skills)] = {
            "sql" : sql,
            "embedding": embedding_vec,
            "python_func": python_func
        }
        self.vect_index.add(embedding_vec)
        if save or len(self.skills)%100==0:
            self.save()
    
    def find_similar(self, embedding_vec: List[float], top_k: int = 10, throushold:int=.9,) -> List[str]:
        """
        Return up to top_k skill names sorted by similarity (desc).
        """
        # If skill library is empty, return empty
        if not self.skills:
            return []
        
        self.selected_ret_index=[]
        # Compute similarity
        sims, ret_index = self.vect_index.search(embedding_vec, k=top_k)
        sims = sims[0]# because only one query
        self.selected_ret_index=ret_index[0]# because only one query
        self.selected_ret_index = [ self.selected_ret_index[i] for i in range(len(sims)
                                                  )  if (sims[i] > throushold )]
        ret_sql = [ self.skills[i]['sql'] for i in self.selected_ret_index  ] if len(self.selected_ret_index)>0 else []
        
        return ret_sql
    


    
    def get_table_info(self,database_name:str='database.sqlite')-> str:
        """
        return description of dataset
        """
        conn = sqlite3.connect(database_name)
        cursor = conn.cursor()
        table_name=cursor.execute("SELECT name FROM sqlite_master").fetchall()[0][0]
        columns_info = cursor.execute(f"PRAGMA table_info({table_name});").fetchall()
        table_description=f"Table name :{table_name}\n(column_index, column_name, data_type, not_null, default_value, primary_key)\n{columns_info}"
        return table_description





    


def test_sql_executable(sql_text: str, test_db_path=":memory:") -> bool:
    """
    Quick check: parse & run the SQL in a small SQLite DB. If it fails, return False.
    """
    try:
        conn = sqlite3.connect(test_db_path)
        cursor = conn.cursor()
        # We run the SQL. If the SQL is malformed or has some error, it fails.
        cursor.execute(sql_text)  # or .executescript for multi-statement
        # Optionally fetch or commit
        conn.commit()
        cursor.close()
        conn.close()
        return True
    except Exception as e:
        return False


class SQLCurriculumAgent():
    """
    Inspired by 'Voyager' curriculum.
    - For each 'round', propose N new SQL queries (diverse and complex).
    - Validate each query. If invalid, we revise. If too similar, we revise.
    - Then store it in skill library.
    """

    def __init__(
        self,
        #messages: list,
        skill_library: SkillLibrary,
        max_retries: int = 5,
        transModel=None
    ):
        self.skill_library = skill_library
        #self.sim_threshold = similarity_threshold
        self.max_retries = max_retries
        self.messages=None
        self.path_table=None
    
        self.model = transModel #model_transformer("Alibaba-NLP/gte-large-en-v1.5")


    def prompt_messages(self, SYSTEM_PROMPT,table_description):
        sqls= self.skill_library.get_sql(random_=True)
        self.messages=[
                {"role": "system", "content": SYSTEM_PROMPT},
                {"role": "user", "content": f"**Existing Queries**: {sqls } \n**Table Description**: {table_description}"},
            ]

    def create_info_table(self,path_table):
        if path_table == self.path_table: return
        self.path_table=path_table
        self.table_info= self.skill_library.get_table_info(path_table)
    
    def __len__(self):
        return len(self.skill_library.skills)
    
    
    def propose_sql_queries(self,path_table,SYSTEM_PROMPT) -> List[str]:
        """
        Use your LLM to propose a diverse SQL query.
        """
        self.create_info_table(path_table)#if get new table info

        if not self.messages :
            self.prompt_messages(SYSTEM_PROMPT,self.table_info)
        # retrun one or more queires 
        try:
            query =  call_llm(self.messages)
        except HTTPError as e:
            print("HTTPError")
            time.sleep(3)
            query =  call_llm(self.messages)
        #some preProsses
        query_embed = self.compute_embedding(query)
        self.messages.append({"role": "assistant", "content": query})
        retrieve_skill=self.skill_library.find_similar( query_embed,self.max_retries )
        if len(retrieve_skill)>0:
            print("\n")
            print("***********************************************************")
            print(f"Retrrived and query: {query}")
            print(f"is similar to existing queries: {retrieve_skill}")
            print("***********************************************************")
            print("\n")
            self.messages.append({f"role": "user", "content": "Not good because the previously generated query is very similar to the following SQL queries: {retrieve_skill}"})
            query,query_embed = self.propose_sql_queries(path_table,SYSTEM_PROMPT)
        if len(self)>0:
            prev=self.skill_library.skills[len(self)-1]
            sec_cond= (np.dot(query_embed, prev["embedding"].T)/(np.linalg.norm(query_embed)*np.linalg.norm(prev["embedding"])))[0][0]
            print(sec_cond)
            if sec_cond < .6:
                print("\n")
                print("***********************************************************")
                print(f"Seconde err and query: {query}")
                print(f"is not similar at all to  existing queries: {prev['sql']}")
                print("***********************************************************")
                print("\n")
                self.messages.append({"role": "user", "content": f"Not good because the previously generated query is incorrect or too different from the previous SQL query: {prev['sql']}. it should be a bit different. Rewrite it."})
                query,query_embed = self.propose_sql_queries(path_table,SYSTEM_PROMPT)
 

        

        return query,query_embed
    
    def compute_embedding(self,text: str) -> List[float]:
        """
        Compute embedding (e.g. using sentence-transformers or OpenAI embeddings).
        Return a vector as a list of floats.
        """
        # Example pseudocode:
        # from sentence_transformers import SentenceTransformer
        embedding = self.model.encode([text], convert_to_tensor=False
                        ,batch_size=32,show_progress_bar=False,normalize_embeddings=True)
        

        return np.array(embedding, dtype=np.float32)
lib=SkillLibrary("")
Curricu=SQLCurriculumAgent(lib,max_retries=5,transModel=transModel)

NameError: name 'query_embe' is not defined

In [9]:
for i in range(100):
    sql_query,query_embed = Curricu.propose_sql_queries('database.sqlite',SYSTEM_PROMPT)
    print(f"Query °{i+1}: \n{sql_query} \nis added.")
    lib.add_skill(sql_query, query_embed)
    Curricu.messages=None
    print("---------------------------------------------------------------")

Query °1:
SELECT Species, AVG(SepalLengthCm) AS avg_sepal_length
FROM Iris
GROUP BY Species
is added.
---------------------------------------------------------------
0.8637882
Query °2:
SELECT Species, MIN(SepalLengthCm) AS min_sepal_length FROM Iris WHERE PetalLengthCm > 4 GROUP BY Species
is added.
---------------------------------------------------------------
0.7959037
Query °3:
SELECT Species , COUNT(*) AS count , MAX(SepalLengthCm) - MIN(SepalLengthCm) AS range FROM Iris GROUP BY Species HAVING COUNT(*) > 10
is added.
---------------------------------------------------------------
0.78166443
Query °4:
SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5
is added.
---------------------------------------------------------------
0.7038056
Query °5:
SELECT Species ,
        CASE
            WHEN SepalLengthCm BETWEEN 3.5 AND 6 THEN 'Short'
            WHEN SepalLengthCm BETWEEN 6 AND 7 THEN 'Medium'
            ELSE 'Long'
        END AS sepal_length_category
FROM Iris
is added.
---------------------------------------------------------------
0.7259531
Query °6:
SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species ,
       AVG(CASE WHEN SepalLengthCm > PetalLengthCm THEN SepalWidthCm ELSE 0 END) AS avg_sepal_width_for_long_petal,
       PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY SepalLengthCm + PetalLengthCm) OVER () AS seventy_fifth_percentile_flower_size
FROM Iris
GROUP BY Species
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************


0.8420343
0.8420343
Query °7:
SELECT Species, COUNT(DISTINCT Id) AS unique_irises, COUNT(DISTINCT CASE WHEN PetalWidthCm > SepalWidthCm THEN Id ELSE NULL END) AS distinct_long_petal_count
FROM Iris GROUP BY Species
is added.
---------------------------------------------------------------
0.703476
Query °8:
SELECT Species ,
       PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY SepalLengthCm) AS third_quartile_sepal_length ,
       PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY SepalWidthCm) AS first_quartile_sepal_width
FROM Iris
GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species , AVG(CASE WHEN PetalLengthCm > SepalLengthCm THEN PetalWidthCm ELSE SepalWidthCm END) AS avg_long_petal_width FROM Iris GROUP BY Species HAVING SUM(PetalWidthCm * 2) > 20
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10', 'SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5']
***********************************************************


0.73377174
0.73377174
Query °9:
SELECT DISTINCT Species, SepalLengthCm + SepalWidthCm + PetalLengthCm + PetalWidthCm AS total_flower_size FROM Iris
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species ,
       COUNT(CASE WHEN SepalLengthCm < 3 THEN Id END) AS low_sepal_count ,
       SUM(PetalWidthCm) / COUNT(*) AS average_petal_width_per_flower
FROM Iris
GROUP BY Species HAVING AVG(SepalWidthCm + PetalLengthCm) > 5
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species ,
       MAX(CASE WHEN SepalWidthCm > PetalWidthCm THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_when_wider
FROM Iris GROUP BY Species
is similar to existing queries: ['SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species ,
       MAX(SepalLengthCm + PetalWidthCm) * COUNT(Id) AS total_flower_mass
FROM Iris GROUP BY Species
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************


0.80699575
0.80699575
0.80699575
0.80699575
Query °10:
SELECT Species ,
       PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY SepalLengthCm + PetalWidthCm) AS median_flower_mass
FROM Iris GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species ,
       SUM(CASE WHEN SepalLengthCm > PetalLengthCm THEN 1 ELSE 0 END) AS sepal_length_greater_than_petal_length ,
       AVG(SepalWidthCm * PetalWidthCm) AS petal_width_sepal_width_product
FROM Iris
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species ,
       SUM(CASE WHEN SepalLengthCm > 5 THEN 1 ELSE 0 END) / COUNT(*) AS sepal_length_above_avg ,
       PERCENTILE_CONT(0.8) WITHIN GROUP (ORDER BY SepalWidthCm + PetalWidthCm) AS top_20_percent_petal_width
FROM Iris
is similar to existing queries: ['SELECT Species ,  \n       PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY SepalLengthCm + PetalWidthCm) AS median_flower_mass \nFROM Iris GROUP BY Species']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species ,
       AVG(CASE WHEN SepalLengthCm * 2 > PetalLengthCm + PetalWidthCm THEN SepalWidthCm ELSE NULL END) AS weighted_sepal_width
FROM Iris GROUP BY Species
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************


0.8062903
0.8062903
0.8062903
0.8062903
Query °11:
SELECT SPECIES,
       MAX(CASE WHEN SEPALWIDTHCM + PETALWIDTHCM > 5 THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_above_threshold
FROM IRIS GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species ,
       COUNT(CASE WHEN SepalLengthCm + PetalLengthCm <= 6 THEN Id END) AS count_short_petal,
       SUM(PetalWidthCm) AS total_petal_width
FROM Iris GROUP BY Species HAVING MAX(SepalWidthCm) > 3
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************


0.86629504
0.86629504
Query °12:
SELECT Species,
       AVG(CASE WHEN SepalLengthCm * SepalWidthCm < PetalLengthCm THEN 1.0 ELSE NULL END) AS avg_petal_factor
FROM Iris GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species ,
       SUM(CASE WHEN SepalLengthCm > ( SELECT PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY SepalLengthCm) FROM Iris ) THEN 1 ELSE 0 END) AS above_third_quartile_count ,
       AVG(SepalWidthCm * PetalWidthCm) AS average_flower_area
FROM Iris
GROUP BY Species
is similar to existing queries: ['SELECT Species ,  \n       PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY SepalLengthCm + PetalWidthCm) AS median_flower_mass \nFROM Iris GROUP BY Species']
***********************************************************


0.8014573
0.8014573
Query °13:
SELECT Species, MAX(PetalLengthCm - SepalLengthCm) AS max_petal_length_difference
FROM Iris
GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species, MAX(CASE WHEN SepalLengthCm + PetalLengthCm > 3 * SepalWidthCm THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_above_threshold FROM Iris GROUP BY Species HAVING AVG(PetalWidthCm) < ( SELECT AVG(PetalWidthCm) FROM Iris );
is similar to existing queries: ['SELECT SPECIES, \n       MAX(CASE WHEN SEPALWIDTHCM + PETALWIDTHCM > 5 THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_above_threshold\nFROM IRIS GROUP BY Species']
***********************************************************


0.88026357
0.88026357
Query °14:
SELECT Species, MIN(SepalLengthCm + PetalLengthCm) - MAX(SepalWidthCm * 2) AS flower_size_variance FROM Iris GROUP BY Species HAVING COUNT(DISTINCT Id) > 5
is added.
---------------------------------------------------------------
0.815363
Query °15:
SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN Id ELSE NULL END) AS long_sepal_count FROM Iris GROUP BY Species HAVING AVG(SepalWidthCm) > 3
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species , AVG(CASE WHEN PetalLengthCm - SepalLengthCm > 1 THEN PetalWidthCm ELSE NULL END) AS above_avg_petal_width FROM Iris GROUP BY Species HAVING COUNT(Id) >= 10
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10', 'SELECT Species, \n       AVG(CASE WHEN SepalLengthCm * SepalWidthCm < PetalLengthCm THEN 1.0 ELSE NULL END) AS avg_petal_factor\nFROM Iris GROUP BY Species', 'SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN Id ELSE NULL END) AS long_sepal_count FROM Iris GROUP BY Species HAVING AVG(SepalWidthCm) > 3', 'SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species, AVG(CASE WHEN SepalLengthCm + PetalWidthCm > ( SELECT MAX(SepalLengthCm + PetalWidthCm) FROM Iris ) THEN 1.0 ELSE NULL END) AS avg_flower_size_above_max FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) >= 10
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************


0.8341827
0.8341827
0.8341827
Query °16:
SELECT Species, AVG(Id) AS avg_id_per_species FROM Iris GROUP BY Species ORDER BY avg_id_per_species DESC LIMIT 3
is added.
---------------------------------------------------------------
0.7340118
Query °17:
SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN 1 ELSE NULL END) / COUNT(Id) AS sepal_petal_ratio FROM Iris GROUP BY Species
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species , AVG(CASE WHEN SepalLengthCm > PetalLengthCm THEN SepalLengthCm ELSE PetalLengthCm END) AS avg_flower_size_by_type FROM Iris GROUP BY Species HAVING MAX(PetalWidthCm) < 3
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10', 'SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species , COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN Id END) / ( SELECT COUNT(*) FROM Iris WHERE PetalWidthCm < 2 ) AS ratio_long_petal_count_from_narrow_flowers FROM Iris GROUP BY Species
is similar to existing queries: ['SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN 1 ELSE NULL END) / COUNT(Id) AS sepal_petal_ratio FROM Iris GROUP BY Species']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species , MAX(SepalLengthCm - PetalWidthCm) AS max_sepal_length_minus_petal_width FROM Iris GROUP BY Species HAVING COUNT(*) > 5
is similar to existing queries: ['SELECT Species, MAX(PetalLengthCm - SepalLengthCm) AS max_petal_length_difference\nFROM Iris\nGROUP BY Species', 'SELECT Species, MIN(SepalLengthCm + PetalLengthCm) - MAX(SepalWidthCm * 2) AS flower_size_variance FROM Iris GROUP BY Species HAVING COUNT(DISTINCT Id) > 5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species , SUM(CASE WHEN SepalLengthCm < 5 THEN PetalWidthCm ELSE 0 END) AS total_petal_width_for_short_sepal_flowers FROM Iris GROUP BY Species HAVING COUNT(DISTINCT Id) > 10
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species , AVG(SepalLengthCm * PetalWidthCm) AS avg_sepal_length_times_petal_width FROM Iris GROUP BY Species HAVING MIN(PetalLengthCm) > 1
is similar to existing queries: ['SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10', 'SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5', 'SELECT Species, MIN(SepalLengthCm + PetalLengthCm) - MAX(SepalWidthCm * 2) AS flower_size_variance FROM Iris GROUP BY Species HAVING COUNT(DISTINCT Id) > 5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species , MAX(SepalWidthCm + PetalLengthCm * 2) AS max_sepal_width_plus_double_petal_length FROM Iris GROUP BY Species HAVING COUNT(DISTINCT SepalLengthCm) > 5
is similar to existing queries: ['SELECT SPECIES, \n       MAX(CASE WHEN SEPALWIDTHCM + PETALWIDTHCM > 5 THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_above_threshold\nFROM IRIS GROUP BY Species', 'SELECT Species, MAX(PetalLengthCm - SepalLengthCm) AS max_petal_length_difference\nFROM Iris\nGROUP BY Species', 'SELECT Species, MIN(SepalLengthCm + PetalLengthCm) - MAX(SepalWidthCm * 2) AS flower_size_variance FROM Iris GROUP BY Species HAVING COUNT(DISTINCT Id) > 5']
***********************************************************


0.8512467
0.8512467
0.8512467
0.8512467
0.8512467
0.8512467
0.8512467
Query °18:
SELECT Species , COUNT(*) / ( SELECT MAX(COUNT(*)) FROM Iris GROUP BY Species ) AS relative_count FROM Iris GROUP BY Species HAVING MIN(PetalWidthCm) > 1
is added.
---------------------------------------------------------------


***********************************************************
Retrrived and query: SELECT Species, MAX(SepalLengthCm) - MIN(PetalWidthCm) AS sepal_petal_difference
FROM Iris
GROUP BY Species;
is similar to existing queries: ['SELECT Species, MAX(PetalLengthCm - SepalLengthCm) AS max_petal_length_difference\nFROM Iris\nGROUP BY Species']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species, COUNT(CASE WHEN SepalLengthCm BETWEEN PetalLengthCm AND PetalWidthCm THEN 1 ELSE NULL END) AS overlapping_sepal_petal_count
FROM Iris
GROUP BY Species;
is similar to existing queries: ['SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN 1 ELSE NULL END) / COUNT(Id) AS sepal_petal_ratio FROM Iris GROUP BY Species', 'SELECT Species, COUNT(DISTINCT Id) AS unique_irises, COUNT(DISTINCT CASE WHEN PetalWidthCm > SepalWidthCm THEN Id ELSE NULL END) AS distinct_long_petal_count\nFROM Iris GROUP BY Species']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species, AVG(CASE WHEN SepalLengthCm + PetalWidthCm > 10 THEN SepalWidthCm ELSE NULL END) AS average_sepal_width_above_threshold
FROM Iris
GROUP BY Species;
is similar to existing queries: ['SELECT Species, \n       AVG(CASE WHEN SepalLengthCm * SepalWidthCm < PetalLengthCm THEN 1.0 ELSE NULL END) AS avg_petal_factor\nFROM Iris GROUP BY Species', 'SELECT SPECIES, \n       MAX(CASE WHEN SEPALWIDTHCM + PETALWIDTHCM > 5 THEN SepalLengthCm ELSE NULL END) AS max_sepal_length_above_threshold\nFROM IRIS GROUP BY Species', 'SELECT Species , COUNT(CASE WHEN PetalLengthCm > SepalLengthCm THEN Id END) AS long_petal_count , AVG(SepalWidthCm + PetalWidthCm) AS avg_flower_size FROM Iris GROUP BY Species HAVING SUM(PetalLengthCm) > 10', 'SELECT Species, MAX(SepalWidthCm) AS max_sepal_width FROM Iris WHERE PetalLengthCm > 2 GROUP BY Species HAVING AVG(PetalWidthCm) < 1.5']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species, SUM(CASE WHEN SepalLengthCm * PetalWidthCm > 10 THEN 1 ELSE 0 END) AS sepal_petal_product_count
FROM Iris
GROUP BY Species;
is similar to existing queries: ['SELECT Species, COUNT(CASE WHEN SepalLengthCm > PetalLengthCm THEN 1 ELSE NULL END) / COUNT(Id) AS sepal_petal_ratio FROM Iris GROUP BY Species']
***********************************************************




***********************************************************
Retrrived and query: SELECT Species, PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY SepalLengthCm + PetalWidthCm) OVER (PARTITION BY Species) AS seventyfifth_percentile_sum
FROM Iris;

NameError: name 'HTTPError' is not defined

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer

checkpoint = "meta-llama/Llama-3.2-3B-Instruct"
tokenizer = AutoTokenizer.from_pretrained(checkpoint,token="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",device='mps')
model = AutoModelForCausalLM.from_pretrained(checkpoint,token="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",device='mps')  # You may want to use bfloat16 and/or move to GPU here

messages = [
    {
        "role": "system",
        "content": "You are a friendly chatbot who always responds in the style of a pirate",
    },
    {"role": "user", "content": "How many helicopters can a human eat in one sitting?"},
 ]
tokenized_chat = tokenizer.apply_chat_template(messages, tokenize=True, add_generation_prompt=True, return_tensors="pt"
                                               )

print(tokenizer.decode(tokenized_chat[0]))
outputs = model.generate(tokenized_chat, max_new_tokens=128)